<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cities</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--    <link rel="stylesheet" type="text/css" media="all"-->
    <!--          href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />-->
</head>

<body>

    <h1>Cities</h1>

    <a th:href="@{{contextPath}/create-city(contextPath=${contextPath})}" href="">Create City</a>
    <br>

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Population</th>
        </tr>
        <th:block th:each="city : ${cities}">
        <tr>
            <td th:text="${city.id}"></td>
            <td th:text="${city.name}"></td>
            <td th:text="${city.population}"></td>
        </tr>
        </th:block>

    </table>

</body>

</html>